name: Practice repository CI Pipeline

on:
    push:
        branches: [ "*" ]

jobs:
    setup_environment:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repo
          uses: actions/checkout@v4
        
        - name: Install python dependencies
          run: |
            python -m pip install --upgrade pip
            pip install pylint
        
        - name: Run pylint on all Python files
          run: |
            find . -type f -name "*.py" | xargs pylint --exit-zero
